span{
    display: block;
    margin: 50px;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-position: center center;
    border-radius: 50%;
    background-image: url(ifsc.png);
    background-repeat: no-repeat;
    border: 10px solid rgba(0, 100, 0, 0.5);
    outline-offset: 5px; 
}